<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img
          src="/admin/dist/img/user2-160x160.jpg"
          class="img-circle"
          alt="User Image"
        />
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MAIN NAVIGATION</li>
      <li class="">
        <a href="/">
          <i class="fa fa-fw fa-home"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="header">MASTER</li>
      <li>
        <a href="/kategori">
          <i class="fa fa-fw fa-tasks"></i> <span>Kategori</span>
        </a>
      </li>
      <li>
        <a href="/produk">
          <i class="fa fa-fw fa-cubes"></i> <span>Produk</span>
        </a>
      </li>
      <li>
        <a href="/member">
          <i class="fa fa-fw fa-credit-card"></i> <span>Member</span>
        </a>
      </li>
      <li>
        <a href="/suplier">
          <i class="fa fa-fw fa-truck"></i> <span>Supplier</span>
        </a>
      </li>
      <li class="header">TRANSAKSI</li>
      <li>
        <a href="/pengeluaran">
          <i class="fa fa-fw fa-money"></i><span>Pengeluaran</span>
        </a>
      </li>
      <li>
        <a href="/pembelian"
          ><i class="fa fa-fw fa-download"></i> <span>Pembelian</span>
        </a>
      </li>
      <li>
        <a href="/penjualan">
          <i class="fa fa-fw fa-upload"></i> <span>Penjualan</span>
        </a>
      </li>
      <li>
        <a href="/transaksi_lama">
          <i class="fa fa-fw fa-exchange"></i> <span>Transaksi Lama</span>
        </a>
      </li>
      <li>
        <a href="/transaksi_baru">
          <i class="fa fa-fw fa-exchange"></i> <span>Transaksi Baru</span>
        </a>
      </li>
      <li class="header">REPORT</li>
      <li>
        <a href="/laporan">
          <i class="fa fa-fw fa-file-pdf-o"></i> <span>Laporan</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
<script>
  const ul = document.querySelector('.sidebar-menu');
  let li = ul.querySelectorAll('li');
  let newLi = [];
  const urlParams = window.location.pathname;
  for (const iterator of [...li]) {
    if (iterator.classList[0] === undefined) {
      newLi.push(iterator);
    }
  }
  for (const iterator of newLi) {
    if (iterator.children[0].getAttribute('href') === urlParams) {
      iterator.classList.add('active');
    }
  }
</script>
